.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.about_us_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    align-self: center;
}

.titleNumber {
  width: 67px;
  height: 67px;
  left: 0px;
  top: 0px;

  background: #0F4E6D;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #FFFFFF;
}

.title {
  display: flex;
  align-items: center;
}

.titleText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #000000;
  margin-left: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 60px;
  margin-right: 70px;
}

.description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: justify;

  color: #000000;

  margin-top: 30px;
}

.about_us_img {
background: url('../../assets/about_us.png');
width: 697px;
height: 924px;
}
