.table {
  width: 100%;
}

.tableWrapper {
  margin-top: 70px;
  padding-left: 70px;
  padding-right: 70px;
}

.tableHead {
  width: 100%;
}

.titleTr {
  height: 140px;
}

.titlePoslugy {
  background: #D7EEFF;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;
  color: #000000;
    width: 28%;
}

.titleBase {
  background: #3079A4;
    width: 24%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;

  color: #FFFFFF;
}

.titleStandard {
  background: #0F4E6D;
  width: 24%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;

  color: #FFFFFF;
}

.titleVIP {
  background: #0D4561;
  width: 24%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;

  color: #FFFFFF;
}

.check {
  background: url('../../assets/check.png');
  height: 61px;
  width: 61px;

  margin-left: 43%;
}

.checkWrapper {
  height: 100%;
  width: 24%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #000000;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.contentTr {
}

.textWrapper {
  width: 28%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;

  color: #000000;

  padding: 40px 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.freeConsultBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 386px;
  height: 94px;
  background: #0F4E6D;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;

  margin-top: 80px;

  cursor: pointer;
}

.freeConsultBtn:hover {
  background: #156e99;
}

.freeConsultBtn:active {
  background: #0f4d6c;
}

.subHeader {
  background: #D7EEFF;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  padding-left: 26px;
  padding-top: 48px;
  padding-bottom: 48px;

  color: #000000;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.subBlock {
  background: #D7EEFF;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.tableBody {
height: 850px;
    overflow: scroll;
}
