* {
  margin: 0;
  padding: 0;
}

.element::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.table {
  border-spacing: 0 !important;
}

.ant-modal .ant-modal-content {
  border-radius: 0;
}
